
@{
    ViewBag.Title = "ProductInfo";
}
@model ShopOnline.Dto.ProductDto
@section css
{
    <style type="text/css">
       


        /*主体部分*/
        body{
            overflow: auto;
        }
        .bodybox {
            position: relative;
            left: 220px;
            top: 120px;
            overflow: hidden;
        }

        .box {
            height: 400px;
            width: 100%;
            /*border: 1px gainsboro solid;*/
        }
        /*按钮样式*/

        #buttonstyle {
            background-color: black;
            color: white;
            height: 40px;
            width: 100px
        }

        .box > span {
            line-height: 50px;
            font-size: 16px;
            font-family: "微软雅黑";
        }

        .layui-tab {
            height: 500px;
        }
    </style>
}
<div class="bodybox">

        <div class="layui-row ">
            <div class="layui-col-md12 bodycontain">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                    <legend>详情</legend>
                </fieldset>
            </div>
            <div class="layui-col-md12 bodycontainn">
                <div class="layui-row grid-demo">
                    <div class="layui-col-md1  " style="margin-left: 20px;">
                        <div class="">
                            <!--图片-->
                            <ul id="imgBox">
                                @{
                                    var img = Model.ProductImagePath;
                                    if (img.Contains("#"))
                                    {
                                        var arr = img.Split('#');
                                        foreach (var item in arr)
                                        {
                                            <li><img src="@item" width="50px" style="margin-top: 10px;border:1px solid black" /></li>
                                        }
                                    }
                                    else
                                    {
                                        <li><img src="@Model.ProductImagePath" width="50px" style="margin-top: 10px;border:1px solid black" /></li>
                                    }
                                }

                            </ul>

                        </div>
                    </div>
                    <div class="layui-col-md3 bodycontainn " style="margin-right:100px;margin-left: 50px;">
                        <div class="grid-demo grid-demo-bg1">

                            <div class="box">
                                
                                @{
                                    if (Model.ProductImagePath.Contains("#"))
                                    {
                                        var array = Model.ProductImagePath.Split('#');

                                            <img src="@array[0]" height="400px"/>
                                    }
                                    else
                                    {
                                        <img src="@Model.ProductImagePath" height="400px"/>
                                    }
                                }

                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md6 bodycontainn">
                        <div class="grid-demo grid-demo-bg2">
                            <div class="box">
                                <span id="productname">
                                   产品名： @Model.ProductName
                                </span><br />
                                
                                <span id="price">
                                    产品价格：  @Model.ProductPrice
                                </span><br />
                                <span id="size">
                                    尺寸/规格：&nbsp;&nbsp;&nbsp;
                                    @Model.SizeName

                                </span><br />

                                <button type="button" class="layui-btn layui-btn-primary" id="addCard">加入购物车</button>
                                <button type="button" class="layui-btn layui-btn-primary" onclick="window.location.href = '@Url.Action("AddCart","ShoppingCart",new{id=Model.Id,isBuy="true"})'" >立即购买</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="layui-col-md10 bodycontainn">
                <div class="box">
                    <div class="layui-row grid-demo grid-demo-bg1">

                        <div class="layui-tab layui-tab-card">
                            <ul class="layui-tab-title">
                                <li class="layui-this">商品描述</li>
                                <li>使用方法</li>
                                <li>评论</li>

                            </ul>
                            <div class="layui-tab-content" >

                                <div class="layui-tab-item layui-show" style="overflow: auto">
                                    <!--描述-->
                                    @Html.Raw(@Model.ProductDescription)
                                </div>
                                <div class="layui-tab-item ">
                                    <!--使用方法-->
                                    描述 使用方法
                                    将唇釉涂抹在嘴唇的中心，用双唇抿开，延展到唇周，即可完成一个完美的唇妆。若想打造一个较淡的哑光唇妆，可以用指腹轻轻拍开唇釉。
                                    <br />
                                    后台建议： 使用臻致造型美眸膏，勾勒眉形，填充眉毛，可以打造更加完美的整体妆容。
                                </div>
                                <div class="layui-tab-item ">
                                    <!--评论-->

                                    <ul>
                                        <li>用户:<input type="text"></li>
                                        <li>上色很好看</li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

@section scripts
{
    <script>
        //加载layui组件
        layui.use(['element','layer'],
            function() {
                var element = layui.element;
                var layer = layui.layer;

                $("#addCard").click(function () {
                    $.get('@Url.Action("AddCart","ShoppingCart",new{id=Model.Id,isBuy="false"})',function (res) {
                        if (res.IsSuccess) {
                            layer.msg(res.Info);
                        }
                    });
                });
            });
        
        //小图切换大图片
        $("#imgBox img").click(function() {
            var imgPath = $(this).attr("src");
            $(".box").children("img").attr("src", imgPath);
        });
    </script>

}
