@using System.Collections
@using System.Web.UI.WebControls
@using ShopOnline.Dto

@model IDictionary<string,object>
@{
    ViewBag.Title = "EditUserInfo";
}
@section css
{
    <link href="~/Asset/css/number.css" rel="stylesheet" />
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: "微软雅黑";
            /*overflow: hidden;*/
        }

        body {
            width: 100%;
            height: 100%;
        }

        .bodyer {
            width: 63%;
            height: 980px;
            border: 2px solid gainsboro;
            margin-left: 20%;
            margin-top: 3%;
        }

        .classarea > div:first-child {
            background: black;
        }

        .classarea h1 {
            text-align: center;
            color: white;
            line-height: 80px;
            font-size: 20px;
        }

        .classarea > div > center > p {
            color: white;
        }

        #boxul ul li {
            float: left;
            text-align: center;
            margin-right: 2%;
            margin-left: 2%;
        }

        #boxul ul {
            margin-left: 15%;
            margin-top: -5%;
        }

        #boxul {
            background-color: gainsboro;
        }

        .contain {
            margin-top: 20%;
            /*border:1px red solid;*/
            /*height: 300px;*/
            /*width:25%;*/
        }

        .layui-tab {
            /*background-color: blueviolet;*/
            border-bottom: 1px solid gainsboro;
            color: black;
            width: 850px;
            /*height: 500px;
            margin-left: 40%;*/
        }

        .layui-nav > .layui-nav-item {
            color: black
        }

        .layui-nav > li {
            color: black
        }

        .white {
            color: black
        }

        #pstyle {
            background-color: gainsboro;
            font-size: 16px;
        }

            #pstyle p {
                margin-left: 350px;
            }

        #buttonstyle {
            background-color: black;
            color: white;
            height: 40px;
            width: 100px
        }

        #formul li {
            float: left
        }



            #formul li:nth-child(0) {
                position: relative;
                left: 10%;
                width: 20%;
            }

        #contactus {
            border: 1px solid gainsboro;
            position: relative;
            left: 10%;
            top: 3%;
            width: 250px;
            height: 350px;
        }

            #contactus li {
                float: none;
                margin-left: 20px;
            }

        #contactus {
            position: relative;
            left: 10%;
        }
    </style>
}
<!--主体-->
<div class="layui-card" style="margin-top: 6%">
<div class="layui-card-header layui-row">
    <fieldset class="layui-elem-field layui-field-title " style="margin-top: 30px;">
        <legend>个人信息设置</legend>
    </fieldset>
</div>
<div class="layui-card-body">
<div class="layui-row bodyer ">
<!--  //选项卡-->
<div class="layui-col-md12 layui-col-xs12 layui-col-sm12 " style="line-height: 30px;">

<div class="layui-tab layui-tab-card" lay-filter="test1">
<ul class="layui-tab-title" id="menu">
    <li class="layui-this">个人资料</li>
    <li>收货地址</li>
    <li>我的订单</li>
    <li>会员中心</li>
</ul>
<div class="layui-tab-content" style="height: 100px;">

<div class="layui-tab-item layui-show">
    <br />

    <div id="pstyle">
        <p id="p">我的资料</p>
    </div>
    <br />
    <!--//表单-->
    <div class="layui-row">
        <div class="layui-form layui-col-md5">
            @{
                var user =(UserDto)Model["User"];
                @Html.Hidden("Id",user.Id)
                @Html.Hidden("ImagePath",user.ImagePath)
                <div class="layui-form-item ">
                    <label class="layui-form-label">头像：</label>
                    <div class="layui-input-inline">
                        <img src="@user.ImagePath" id="displayImg" width="50%" alt="Alternate Text"/>
                        <button type="button" class="layui-btn layui-btn-sm layui-btn-primary" id="UploadImage">
                            <i class="layui-icon">&#xe67c;</i>上传图片
                        </button>
                    </div>
                </div>
                <div class="layui-form-item ">
                    <label class="layui-form-label">账号名称：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="UserName" value="@user.UserName" required lay-verify="required"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">您的密码:</label>
                    <div class="layui-input-inline">
                        <input type="password" name="UserPassword" value="" required lay-verify="required"
                               autocomplete="off" class="layui-input">
                    </div>

                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">您的手机号:</label>
                    <div class="layui-input-inline">
                        <input type="text" name="Phone" value="@user.Phone" lay-verify="required"
                               autocomplete="off" class="layui-input">
                    </div>

                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">您的邮箱:</label>
                    <div class="layui-input-inline">
                        <input type="email" name="Email" value="@user.Email " required lay-verify="required"
                               autocomplete="off" class="layui-input">
                    </div>

                </div>
                <button type="submit" lay-filter="updateUser" lay-submit="" class="layui-btn layui-btn-sm layui-btn-primary layui-col-md3 layui-col-md-offset7">修改 </button>
            }
        </div>

        <div id="contactus" class="layui-col-md5">
            <h2>客服中心</h2>
            <hr />
            <ul>
                <li>客服电话：028-820-4888</li>
                <li></li>
                <li><input type="button" id="buttonstyle" value="在线咨询" style="border: none;" /></li>
                <li>常见问题</li>
                <hr />
                <li>如何下订单?</li>
                <li>如何查看订单配送状况?</li>
                <li>如何修改和取消订单?</li>
                <li>查看所有</li>
            </ul>

        </div>

    </div>
</div>
<div class="layui-tab-item ">
    <h2>收货地址</h2>
    <hr>
    <div class="layui-row">
        <div class="layui-form layui-col-md6">
            <div class="layui-form-item">
                <label class="layui-form-label">收件人昵称:</label>
                <div class="layui-input-inline">
                    <input type="text" name="ConsigneeName" value="" required lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>

            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">手机号:</label>
                <div class="layui-input-inline">
                    <input type="text" name="ConsigneePhone" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>

            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">收件人地址:</label>
                <div class="layui-input-inline">
                    <input type="text" name="ConsigneeAddress" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>

            </div>
            <button type="submit" lay-filter="addConsignee" class="layui-btn layui-btn-primary layui-btn-sm layui-col-md3 layui-col-md-offset6" lay-submit="">新增地址</button>
        </div>
        <div class="layui-col-md5" id="UserDistribution"></div>
    </div>
</div>

<div class="layui-tab-item ">
    <div class="layui-container">
        <div class="layui-card">
            <div class="layui-card-header">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                    <legend>订单信息</legend>
                </fieldset>
            </div>
            <div class="layui-card-body">
                <table class="layui-table" lay-skin="line">
                    <colgroup>
                        <col width="150">
                        <col width="150">
                        <col width="200">
                        <col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>商品图</th>
                            <th>商品名</th>
                            <th>数量</th>
                            <th>单价</th>
                            <th>收件人信息</th>
                        </tr> 
                    </thead>
                    <tbody>

                        @{
                            foreach (var item1 in (List<OrderInfoDto>)Model["OrderInfo"])
                            {

                                foreach (var item2 in (List<OrderDto>)Model["Order"])
                                {
                                    if (item2.OrderId.Equals(item1.Id))
                                    {
                                        foreach (var item in (List<ProductDto>)Model["ProductList"])
                                        {
                                            if (item.Id.Equals(item2.ProductId))
                                            {
                                                <tr>
                                                    <td>@item.ProductName</td>
                                                    <td>
                                                        @{
                                                            if (item.ProductImagePath.Contains("#"))
                                                            {
                                                                var arr = item.ProductImagePath.Split('#');
                                                                <img src="@arr[0]" width="50%"/>
                                                            }
                                                            else
                                                            {
                                                                <img src="@item.ProductImagePath" width="50%"/>
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        @item2.Quantity
                                                    </td>
                                                    <td>
                                                        @Convert.ToDouble(item.ProductPrice)
                                                    </td>
                                                    <td>
                                                    <p>收件人住址：@item1.Address</p>
                                                    <p>收件人名称：  <strong> @item1.AcceptName</strong> 手机号：@item1.Phone </p>
                                                    <td/>
                                                </tr>

                                            }

                                        }
                                    }
                                }
                                <tr>
                                    <td colspan="2" >订单编号：@item1.Id </td>
                                    <td colspan="2">订单创建时间： @item1.CreateTime</td>
                                    <td >总金额： @item1.TotalPrice</td>

                                    <td >
                                    @{
                                        if (item1.PayState == 0)
                                        {
                                            <span style="font-weight: bold; color: red">您还未支付，请尽快支付</span>
                                            <button type="submit" class="layui-btn layui-btn-small layui-btn-primary payMoney" value="@item1.Id">支付</button>
                                            <button type="submit" class="layui-btn layui-btn-small layui-btn-danger deleteOrder" value="@item1.Id">取消订单</button>
                                        }
                                        else
                                        {
                                            if (item1.DeliverySate == true)
                                            {
                                                <button type="button" class="layui-btn layui-btn-sm">已发货</button>

                                            }
                                            else
                                            {
                                                <button type="button" class="layui-btn layui-btn-sm layui-btn-danger">未发货</button>

                                            }
                                        }

                                    }
                                    <td/>
                                </tr>
                            }

                        }

                    </tbody>
                </table>   
            </div>


        </div>
        
        

    </div>
</div>



<div class="layui-tab-item">
    <div class="layui-form-item">
        <h2>其他</h2>



        <div class="layui-col-md10 contains">
            <div class="layui-tab" lay-filter="test">
                <ul class="layui-tab-title">
                    <li class="layui-this" lay-id="11"></li>
                    <li lay-id="22"></li>
                    <li lay-id="33">扫码支付</li>
                    <li lay-id="44">银行卡支付</li>
                    <li lay-id="55"></li>
                    <li lay-id="55"></li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item ">

                    </div>
                    <div class="layui-tab-item"></div>
                    <div class="layui-tab-item layui-show">
                        <ul class="ulfloat">
                            <li>
                                <img src="~/Asset/images/二维码.jpg" width="100px" /><br /><br />
                                <input type="button" name="" id="buttonstyle" value="会员服务协议" />
                            </li>
                            <li>
                                <img src="~/Asset/images/支.PNG" width="180px" /><br /><br />
                                <button type="submit" name="GetMember" class="layui-btn layui-btn-primary"  > 点击充值</button>
                            </li>
                        </ul>
                    </div>
                    <div class="layui-tab-item">
                        请输入银行卡号：
                        <input type="text" name="" id="" value="" placeholder="请输入正确的银行卡号" /><br />
                        <input type="button" name="" id="buttonstyle" value="   支付    " style="margin-left: 30%;margin-top: 5%" />
                    </div>
                                     
                </div>
            </div>

        </div>

    </div>
</div>
</div>
</div>
</div>
</div>
</div>

</div>

@section scripts
{

    <script>
        layui.use(['form', 'layer', 'upload', 'element'],
            function() {
                $ = layui.jquery;
                var form = layui.form;
                var layer = layui.layer;
                var upload = layui.upload;
                var element = layui.element;
                //自定义验证规则
                form.verify({
                    nikename: function(value) {
                        if (value.length < 5) {
                            return '昵称至少得5个字符啊';
                        }
                    },
                    pass: [/(.+){6,12}$/, '密码必须6到12位'],
                    repass: function(value) {
                        if ($('#L_pass').val() !== $('#L_repass').val()) {
                            return '两次密码不一致';
                        }
                    }
                });
                upload.render({
                    elem: '#UploadImage',
                    url: '@Url.Action("UploadImage", "User")', //必填项
                    field: 'file',
                    done: function(res) {
                        //如果上传失败
                        if (res.code !== 0) {
                            return layer.msg(res.Info);
                        } else {
                            $("#displayImg").attr("src", res.data);
                            layer.msg(res.Info);
                            $("#ImagePath").val(res.data);
                        };
                    }
                });
                //监听提交
                form.on('submit(updateUser)',
                    function(data) {
                        console.log(data);
                        //发异步,
                        $.post("@Url.Action("EditUserInfo", "User")",
                            data.field,
                            function(res) {
                                layer.msg(res.Info);
                                if (res.IsSuccess) {
                                    href.reload();
                                }
                            });

                        return false;
                    });

                //获取收件人信息
                element.on('tab(test1)',
                    function(data) {
                        if (data.index === 1) {
                            $.post("@Url.Action("GetConsigneeInfo", "Consignee")",
                                {},
                                function(res) {
                                    if (res != null) {
                                        var htmlText = $("<blockquote class='layui-elem-quote layui-quote-nm'>地址：" + res.ConsigneeAddress + "<br>收件人：" + res.ConsigneeName + "联系方式：" + res.ConsigneePhone + "</blockquote>");
                                        $("#UserDistribution").children().remove();
                                        $("#UserDistribution").append(htmlText);
                                    }
                                });
                        } else {
                            return;
                        }

                    });
                form.on('submit(addConsignee)',
                    function(data) {
                        console.log("15");
                        //发异步,
                        $.post("@Url.Action("AddConsigneeInfo", "Consignee")",
                            data.field,
                            function(res) {
                                layer.msg(res.Info);
                                if (res.IsSuccess) {
                                    location.href.reload();
                                }
                            });
                    });
                //删除未付款订单
                $(".deleteOrder").click(function() {
                    var id = $(this).val();
                    console.log(id);
                    $.post("@Url.Action("DeleteOrder", "Order")",
                        {id: id },
                        function(res) {
                            layer.msg(res.Info);
                            if (res.IsSuccess) {
                                location.reload();
                            }
                        });
                });
                //订单支付
                $(".payMoney").click(function() {
                    var id = $(this).val();
                    console.log(id);
                    $.post("@Url.Action("UpdatePayState", "Order")",
                       {id:id},
                        function(res) {
                            layer.msg(res.Info);
                            if (res.IsSuccess) {
                                location.reload();
                            }
                        });
                });

                $("button[name='GetMember']").click(function() {
                    $.post("@Url.Action("GetMember", "User")",
                        true,
                        function(res) {
                            layer.msg(res.Info);
                        });
                });
            });


    </script>
}
