@model List<ShopOnline.Dto.ShoppingCartDto>
@{
    ViewBag.Title = "Cart";
}

    <div class="layui-card" style="margin-top: 10%; ">
        <div class="layui-card-header">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                <legend>我的订单</legend>
            </fieldset>
        </div>
        <div class="layui-card-body">
            <div class="layui-container">
                <blockquote class="layui-elem-quote layui-quote-nm">

                    <div class="layui-row">
                        
                            
                            <div class="layui-col-md10">
                                
                                <table class="layui-table" lay-skin="line">
                                    <colgroup>
                                        <col width="150">
                                        <col width="150">
                                        <col width="200">
                                        <col>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>商品图</th>
                                            <th>商品名称</th>
                                            <th>数量</th>
                                            <th>单价</th>
                                            <th>操作</th>
                                        </tr> 
                                    </thead>
                                    <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            
                                            @{
                                                if (item.ProductImagePath.Contains('#'))
                                                {
                                                    var arr = item.ProductImagePath.Split('#');
                                                    <td> <img src="@arr[0]"/> </td>
                                                }
                                                else
                                                {
                                                    <td> <img src="@item.ProductImagePath"/> </td>
                                                }
                                            }
                                            <td>@item.ProductName</td>
                                            <td ><input type="number" class="layui-input updateNum" max="3" step="1" min="1" onkeydown="return false" value=" @item.Number"> </td>
                                            <td>@item.ProductPrice</td>
                                            <td> <button class="layui-btn layui-btn-primary layui-btn-sm deleteBtn" value="@item.Id">删除</button> <td/>
                                        </tr>
                                    }
                                    <tr><td colspan="4">结算</td> <td colspan="2"> <button class="layui-btn layui-btn-sm layui-btn-primary" onclick="location.href = '@Url.Action("OrderList","Order")'">去结账</button></td>  </tr>

                                    </tbody>
                                </table>   

                            </div>
                    </div>
                </blockquote>
            </div>

        </div>
    </div>

@section scripts
{
    <script>
        layui.use('layer', function () {
            var layer = layui.layer;
            $(function() {
                $(".updateNum").bind('input propertychange',
                    function() {
                        var num = $(this).val();
                        var id = $(this).parent().nextAll().eq(1).children().val();
                        console.log(id);
                        $.post("@Url.Action("UpdateCartNum", "ShoppingCart")",
                            { 'number': num,'id':id },
                            function(res) {
                                layer.msg(res.Info);
                            });
                    });

            });

            $(".deleteBtn").click(function() {
                    var id = $(this).val();
                    console.log(id);
                    $(this).parent().parent().remove();
                    $.post("@Url.Action("UpdateCartState", "ShoppingCart")",
                        { 'id': id },
                        function(res) {
                            layer.msg(res.Info);
                        });
                }
            );
        });
        
    </script>

}
